.catalog-title {
    height: 120px;
    width: 40vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}