.cart-card {
    padding: 15px 1vw;
    height: 130px;
    display: grid;
    grid-template-columns: 15% 45% 25% 11% 4%;
    background-color: black;
    align-items: center;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.7);

    &__title {
        text-align: start;
    }

    &__product-img {
        height: 100px;
        width: 80px;
    }

    &__counter {
        display: flex;
        flex-direction: row;
    }
}

