.product-card {
	color: white;
	height: 325px;
	width: 200px;
	min-width: 180px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.product-card__product-img {
	height: 250px;
	width: 200px;
}

.product-card__title {
	text-align: left;
}

.product-card__price {
	text-align: left;
}

.product-card__add-to-cart {
	font-size: 0.85rem;
	display: flex;
	flex-direction: row;
	gap: 20px;
	align-items: center;
}

.product-card__note-to-cart {
	align-items: center;
}

.product-card__cart-img {
	position: sticky;
	left: 0;
	width: 13px;
	height: 13px;
}
